footer { border-top: 0 !important; }
header { border: 0 !important; }
:root {
    font-family: arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    /* font-family: 'Roboto',Helvetica,Sans-Serif; */
}

:root {
    font-family: arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    /* font-family: 'Roboto',Helvetica,Sans-Serif; */
}

body,
html {
    padding: 0 0 0 0;
    margin: 0;
}

main {
    width: 1200px;
    margin: 0px auto;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
}

section {
    margin-bottom: 1em;
    border-radius: 2px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 400px;
}

.g {
    color: green;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding-top: 20px;
}

a {
    text-decoration: none;
}

details {
    margin-top: 1em;
    margin-bottom: 1em;
}

a:hover {
    text-decoration: underline;
}

small.vs {
    font-size: 0.5em;
}

li {
    list-style-type: none;
}

.result-count {
    margin-top: 10px;
}

#results {
    padding: 0px;
}

.selected-type {
    border-bottom: 3px solid #00CCF4;
}

.header-wrapper {
    width: 1200px;
    margin: 0px auto;
}

.header-search {
    display: flex;
    gap: 5px;
}

.header-details {
    margin-top: 5px;
}

.header-type {
    display: flex;
    gap: 15px;
    margin-bottom: 0.5em;
}

.results-wrapper {
    display: flex;
    gap: 3em;
}

.footer-wrapper {
    width: 1200px;
    margin: 0px auto;
}

.search-header-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    text-align: center;
}

.search-wrapper {
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    padding: 4em;
}


button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}